
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 210 20% 75%; /* Silver */
    --primary-foreground: 220 10% 10%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 217 91% 60%; /* Cool Blue */
    --accent-foreground: 210 40% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --chart-1: 217 91% 60%;
    --chart-2: 175 75% 45%;
    --chart-3: 25 85% 65%;
    --chart-4: 285 75% 65%;
    --chart-5: 207 82% 67%;
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 220 10% 5%;
    --foreground: 210 40% 98%;
    --card: 220 10% 15%;
    --card-foreground: 210 40% 98%;
    --popover: 220 10% 5%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 20% 75%; /* Silver */
    --primary-foreground: 220 10% 10%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 12%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217 91% 60%; /* Cool Blue */
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 30%;
    --input: 217.2 32.6% 25%;
    --ring: 217 91% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .animate-pulse-once {
    animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  }
  @keyframes pulse {
    50% {
      opacity: .5;
    }
  }
}

@layer components {
  .placeholder\:text-muted-foreground::placeholder {
    @apply text-muted-foreground/50;
  }
  .biomarker-emboss {
    @apply rounded-lg border-transparent transition-all duration-200;
    background-color: hsl(var(--muted) / 0.2);
     box-shadow: inset 4px 4px 8px hsl(var(--background) / 0.2), 
                inset -4px -4px 8px hsl(var(--secondary) / 0.2);
  }
  .dark .biomarker-emboss {
    background-color: hsl(var(--muted) / 0.2);
     box-shadow: inset 4px 4px 8px hsl(var(--background) / 0.2), 
                inset -4px -4px 8px hsl(var(--secondary) / 0.2);
  }
}

@media print {
  body {
    background-color: white !important;
  }
  body * {
    visibility: hidden;
  }

  .printable-area, .printable-area * {
    visibility: visible;
  }
  
  .printable-area {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }

  .printable-area .no-print {
      display: none;
  }
}
